*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --col-background: white;
  --col-white-lightest: white;
  --col-grey-50: #fafafa;
  --col-grey-100: #f5f8fc;
  --col-grey-150: #d8d8d8;
  --col-grey-200: #b5b7b8;
  --col-grey-300: #515259;
  --col-grey-box-shadow: #b5b7c2;
  --col-grey-600: #292a2e;
  --col-brand-light: #e2e5e8;
  --col-brand-primary: #82d8d0;
  --col-brand-mid: #00707c;
  --col-brand-dark: #004148;
  --col-brand-darkest: #001e21;
  --col-brand-accent: #ea2da0;
}

.BLUR {
  filter: blur(20px);
}
.bold {
  font-weight: 600;
}
.r-space {
  margin-right: 1rem;
}
h1 {
  text-align: center;
  color: var(--col-darkest);
  margin-top: 2rem;
}
button {
  background-color: #66b1a8;
  border: none;
  border-radius: 50px;
  padding: 0.3rem 0.7rem;
  width: fit-content;
  text-wrap: nowrap;
  color: black;
  font-size: 0.8rem;
}
select {
  background-color: white;
  border: 0.1px solid var(--col-grey-box-shadow);
}
label {
  margin: 0.5rem 0 0.3rem 0;
}
table {
  width: 100%;
}
tr {
  border: 0.2px solid var(--col-grey-box-shadow);
  border-collapse: collapse;
  background-color: white;
  padding: 0.2rem;
  border-radius: 3px;
}
td {
  min-width: 80px;
}
input,
select,
textarea {
  padding: 0.1rem;
  font-size: 0.8rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
input {
  border: 0.2px solid var(--col-grey-box-shadow);
}
.image-controls input {
  border: none;
}
textarea {
  width: 100%;
  background: var(--col-grey-50);
  resize: none;
  padding: 0.3rem;
  border-radius: 3px;
  border: 0.2px solid var(--col-grey-box-shadow);
}
.textarea-large {
  height: 250px;
}
.textarea-small {
  height: 100px;
}
body {
  padding: 0;
  margin: 0;
  color: var(--col-grey-600);
  font-family: system-ui, "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  height: 70px;
  background-color: white;
}
.nav-container {
  margin: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  overflow: hidden;
}
.nav-logo {
  margin: 2rem;
  max-width: 160px;
}
.navlist {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.nav-container nav ul li {
  padding: 1rem;
  list-style-type: none;
}
.nav-container nav ul li a {
  text-decoration: none;
  color: var(--col-brand-darkest);
}

/* LOGIN PAGE */
.login-page {
  background-color: var(--col-grey-100);
}
.login-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: center;
  margin-top: 10rem;
  border-radius: 10px;
  background-color: var(--col-white-lightest);
  border: 0.1px solid var(--col-grey-150);
  box-shadow: 1px 1px 2px var(--col-grey-box-shadow);
}
.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.login-container form input {
  margin-bottom: 1rem;
}

/* DASHBOARD PAGE */
.dashboard-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  min-height: 95vh;
  padding-bottom: 6rem;
}
.form-container-dashboard {
  padding: 3rem;
  margin: 2rem;
  background-color: var(--col-grey-100);
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

/* DASHBOARD - Clients form */
.clients-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
#addNewClient {
  padding: 1rem;
  border: none;
  background-color: transparent;
}
#addNewClient img {
  width: 22px;
}
.client-listitem-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.client-listitem-container form {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}
.client-button-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
  padding-right: 0.5rem;
  min-height: 50px;
  border-radius: 10px;
  background-color: var(--col-white-lightest);
  border: 0.1px solid var(--col-grey-150);
  box-shadow: 1px 1px 2px var(--col-grey-box-shadow);
}
.new-button {
  display: flex;
  align-items: center;
}
.client-name-btn {
  background-color: var(--col-white-lightest);
  border: none;
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  text-align: left;
  padding-left: 1rem;
}
.client-record-btn {
  background-color: white;
  text-decoration: underline;
  color: var(--col-brand-dark);
}
#client-app-btn img {
  width: 10px;
}

/* DASHBOARD- Appointments form */
.appointments-heading-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 65px;
}
.app-listitem-container {
  border-radius: 10px;
  border: 0.1px solid var(--col-grey-150);
  box-shadow: 1px 1px 2px var(--col-grey-box-shadow);
  background-color: var(--col-white-lightest);
  padding: 1rem;
  margin-bottom: 0.5rem;
}
.app-date-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 0.2rem;
}
.app-date-container button {
  margin-left: auto;
}
.display-time {
  margin-left: 1.5rem;
}
.app-client-name {
  font-weight: 600;
  margin-top: 0.5rem;
  margin-bottom: 0.2rem;
}

/* CLIENT RECORD PAGE */
.client-record-container {
  min-width: 1060px;
}
.form-container {
  padding: 3rem;
  background-color: transparent;
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--col-grey-100);
  margin-bottom: 2rem;
  border-radius: 20px;
  border: 0.1px solid var(--col-grey-150);
  box-shadow: 3px 3px 5px var(--col-grey-box-shadow);
}
.new-appointment-button-form {
  width: 100%;
  display: flex;
}
#client-app-btn {
  margin-left: auto;
}
.CRUD-form {
  display: flex;
  flex-direction: column;
}

/* CLIENT RECORD FORM */
.client-name-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.client-name-section h2 {
  margin-bottom: 1rem;
}
.client-record-inner-container {
  margin-right: 2rem;
}
.client-record-container1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
}
.client-record-inner-container > div {
  display: flex;

  flex-direction: column;
  margin: 0.5rem;
  border-radius: 10px;
  min-width: 400px;
}
.client-record-inner-container div div {
  display: flex;
  flex-direction: column;
}
.client-record-container .submit {
  margin: 0 auto;
  margin-top: 1rem;
}
.client-notes-section textarea {
  height: 90%;
}
.lastused-item {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.lastused-item p {
  margin: 0;
}
.lastused-title {
  margin-bottom: 0.2rem;
}
.lastused-group {
  border-bottom: 0.2px solid var(--col-grey-box-shadow);
  padding: 0.2rem;
  width: 100%;
  margin-bottom: 1rem;
}
.section-lastused {
  margin-top: 2rem;
}

/* APPOINTMENT FORM */
.appointment-form-container h2 {
  text-align: center;
  margin-bottom: 1rem;
}
.appointment-heading-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-type-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.appointment-heading-container select {
  width: fit-content;
  margin-bottom: 2rem;
}
.appointment-details-container {
  padding: 0 3rem;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.appointment-details-container > div {
  background-color: var(--col-grey-50);
  border: 0.5px solid var(--col-grey-200);
  box-shadow: 1px 1px 2px var(--col-grey-box-shadow);
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-radius: 10px;
  margin: 1rem;
}
.appointment-details-container > div > div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}
.client-images-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.client-image-container {
  display: flex;
  flex-direction: column;
  margin: 2rem 2rem 0 2rem;
  border: 0.2px solid var(--col-grey-box-shadow);
  padding: 1rem;
  border-radius: 10px;
}
#beforePhotoImage,
#afterPhotoImage {
  width: 200px;
}
.client-image-container img {
  min-width: 100%;
}
.image-controls {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
}
.appointment-details-container button {
  width: 10%;
  justify-self: center;
  grid-column: span 2;
  grid-row: 4;
  margin-top: 1rem;
}

/* PREVIOUS APPOINTMENTS SECTION  */
.prev-apps-title {
  text-align: center;
  margin-top: 3rem;
  margin-bottom: -3rem;
}
.appointment-record-container {
  margin: 4rem 4rem;
  border-radius: 20px;
  padding: 2rem;
  border: 0.1px solid var(--col-grey-150);
  box-shadow: 3px 3px 5px var(--col-grey-box-shadow);
}
.appointment-record-container h2 {
  margin-bottom: 1rem;
}
.appointments-name {
  margin-bottom: 1rem;
}
.app-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.pastapp-layout {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.app-title {
  display: flex;
  flex-direction: row;
}
.app-time {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  align-items: center;
}
.app-time p {
  margin-left: 1rem;
}
.duration {
  margin-left: auto;
}
.app-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.2rem;
}
.app-item-group {
  border: 0.2px solid var(--col-grey-box-shadow);
  padding: 1rem;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 1rem;
  margin-top: 1rem;
  background-color: white;
}
.app-listitem-container-single form {
  border: 1px solid lightgray;
  padding: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 10px;
  background-color: var(--col-white-lightest);
}
.app-listitem-container-single form p,
.app-listitem-container p {
  margin: 0;
}
.appointment-record-container {
  background-color: var(--col-grey-100);
  min-width: 1000px;
}
.app-grid div {
  padding: 1rem 1rem 1rem 0;
}
.appointment-record-container img {
  max-width: 200px;
}
.photos {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
.photo {
  min-width: 100%;
}
#appNotes {
  height: 100%;
  width: 100%;
  padding: 0.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: var(--col-white-lightest);
  resize: none;
}
.appnotes-title {
  margin-bottom: 0;
}
.app-text {
  padding-right: 4rem;
}
.view-appointment {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.view-appointment p {
  text-align: right;

  margin: 0.3rem 1rem;
}
.appointment-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1rem;
}
.appointment-footer table {
  width: 100%;
  margin-right: 2rem;
}
.line {
  width: 100%;
  background-color: var(--col-brand-mid);
  height: 2px;
  margin-top: 1rem;
}
